{% extends "layout.html" %}

{% block content %}

<section class="mt-4 mb-10">

    <div class="container mb-10">
        <div class="row">
            <div class="col-md-12">
                <div class="card-columns">

                        {% for pin in pins%}
                        <div class="card card-pin">
                            <div class="image-container">
                                <img class="card-img image" src="/static/pin_pics/{{pin.image_file}}" alt="{{pin.title}}">
                                <div class="overlay1">

                                    <a class="btn image-save btn-success" href="{{ url_for('pin.save_pin',pin_id=pin.id)}}" role="button">Save</a>
                                    <a class="btn image-save btn-success" href="{{ url_for('pin.remove_pin_from_board',board_id=board_id,pin_id=pin.id)}}" role="button">Remove from this board?</a>

                                </div>
                            </div>
                            <div class="card-body">
                                <a class="card-link" href="{{url_for('pin.view_detailed_pin',pin_id=pin.id)}}"><h5 class="card-title title">{{ pin.title }}</h5></a>
                            </div>
                        </div>
                        {% endfor %}

                </div>

            </div>
        </div>
    </div>
</section>


{% endblock %}